{% extends "base.html" %}
{% load staticfiles %}
{% block body %}<body class="index">{% endblock %}
{% block content %}
<div id="page-wrapper">
	<section class="wrapper style2 container special-alt">
							<div class="row 50%">
								<div class="8u 12u(narrower)">
									<h2>POLLS AVAILABLE : </h2>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button">Find Out More</a></li>
										</ul>
									</footer>

								</div>
	</section>
<script type="text/javascript">
	var email = document.getElementById("email").innerHTML;
	console.log(email);
</script>
{% endblock %}