<div class="row" id="card">
    <div class="col s12 m12">
        <div class='card teal accent-1 hoverable'>
            <div class='card-content  center-align'>
                <span class='card-title'>Question
                    <div id='submit0'>
                    </div>
                </span>
                <form action='#'>
                    <p>single.question</p>
                    <p><input name='group1' type='radio' id='test'/>
                        <label for='test'>single.option[0]</label>
                    </p>
                </form> 
                <h6 id='hide'>ingle.attString </h6>
                <h6 hidden />
                <h6 hidden id='error'>Please select an option</h6></div><div class='card-action center'><button class='btn'  onclick='yo()'>Submit</button><button class='btn' onclick='reset(1)' id='reset'>Reset</button></div></div></div></div>